.row
    .col-xs-12.col-sm-6.col-md-4.features
      a(href='/discount' role='button').btn.btn-success
        h1 Save $10
        img(src='/static/img/front-2.jpg')
        p
          | On your first visit.
          br
          | For new clients only
          br
        h6 Learn how <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    .col-xs-12.col-sm-6.col-md-4.features
      a(href='/staff' role='button').btn.btn-info
        h1 Meet your doctor
        img(src='/static/img/dr-ruth.jpg')
        p
          | Dr. Ruth Altman has over
          br
          | 30 years of experience
        h6 Meet the staff <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    .col-xs-12.col-md-4.features
      a(href='http://www.yelp.com/biz/animal-haven-veterinary-clinic-fort-collins' target='_blank' role='button').btn.btn-warning
        h1 Testimonials
        img(src='/static/img/front-1.jpg')
        p
          | "Dr. Ruth epitomizes what a
          br
          | veterinarian should be."
        h6 Read reviews <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
.well
  .row
    .col-sm-6.col-md-8
      h2 We pride ourselves on being a one doctor clinic
      h3 Your pet is part of our family!
      p Established in 1989, Dr. Ruth Altman purchased Animal Haven Veterinary Clinic in 1994 and the practice moved to its beautiful new location in December 2009.  Animal Haven has remained a one doctor veterinary clinic priding itself on individualized care to every cat, dog and pet care provider.
      img(src='/static/img/AHVC-index.jpg' width='60%' height='auto')
    .col-sm-6.col-md-4
      h2 Featured Clients
      <iframe scrolling="no" marginheight="0" frameborder="0" width="303" style="height: 417px;" src="http://facebookgalleria.com/gallery.php?id=71070568287&display=uploaded_photos&rows=4&margin=1&cols=2&width=150&font_size=11&title_color=000000&hide_next_back=1&share_buttons=1&shape=rectangle&frame=1"></iframe>

.row
  .col-sm-6
    .well
      h2 Licenses &amp; Accreditation
        p
        p
          a(href='http://www.colovma.org/' target='_blank')
            img(src='/static/img/cvma.png').license
          a(href='http://www.avma.org/' target='_blank')
            img(src='/static/img/avma.png').license
          a(href='http://www.deadiversion.usdoj.gov/' target='_blank')
            img(src='/static/img/dea.png').license
    .well
      h2 Financial Assistance
        p
          a(href='http://www.carecredit.org/' target='_blank')
            img(src='/static/img/carecredit.png').license
  .col-sm-6
    .well#map
      h2 Hours &amp; Location
        p
          br
          | Mon, Tue, Thu, Fri:&emsp;&emsp;7:30am-6pm
          br
          | Wed:&emsp;&emsp;8am-8pm
          br
          | Sat:&emsp;&emsp;8:30am-1pm
          br
          | Closed Sundays
        p
          | 125 Carpenter Rd, Fort Collins, CO 80525
      .google-maps
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3034.7952271867025!2d-105.07620700000001!3d40.479795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87694d07ad529077%3A0x8bcba65d8fe05a09!2sAnimal+Haven+Vet+Clinic!5e0!3m2!1sen!2sus!4v1426715929174" width="600" height="450" frameborder="0" style="border:0"></iframe>
